html, body {
    height: 100%;
  }
  .container-full-height {
    display: grid;
    height: 100%;
  }
  .content {
    grid-row: 1;
  }
.profile-img {
    border-radius: 50%; /* This makes the image round */
    width: 240px; /* Adjust the width as needed */
    height: 240px; /* Adjust the height as needed */
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .highlight-container, .highlight {
    position: relative;
    
  }
  
  .highlight-container {
    display: inline-block;
  }
  .highlight-container:before {
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: #ffd500;
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;
  }
  
 

  .rounded-card {
    border-radius: 25px;
    background-color: #f0f8ff;
    border: none;
  } 
  
