html{
  height: 100vh;
}

body {
    height: 100%;
    /* background-image: linear-gradient(to right top, #ffffff, #ebf0ff, #cbe4ff, #9ddcff, #57d4ff); */
    
  }

  @keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }


  .container-full-height {
    display: grid;
    height: 100%;
  }
  .content {
    grid-row: 1;
  }
.profile-img {
    border-radius: 50%; /* This makes the image round */
    width: 240px; /* Adjust the width as needed */
    height: 240px; /* Adjust the height as needed */
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .highlight-container, .highlight {
    position: relative;
    
  }
  
  .highlight-container {
    display: inline-block;
  }
  .highlight-container:before {
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: #ffd500;
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;
  }
  
 

  .rounded-card {
    border-radius: 25px;
    background-color: #f0f8ff;
    border: none;
  } 

  .main-tag {
    position: absolute;
    background: #B8DCDB;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 6px;
    display: inline-block;
  }

  .main-panel{
    padding: 30px;
  }

  .my-card{
    background-color: white;
    border-radius: 15px;
    margin: 5px;
  }
  
  .tech {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-image: url('');;
  }
  /* Style for the icon */
  .tech li {
    display: flex;
    align-items: center;
    padding: 10px;
  
  }

  .symbol-round {
    background-color: #e9eaec;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .highlighted-container {
    background-color: #e9eaec;
    border-radius: 15px;
  }

  .tag {
    background: #B8DCDB;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 5px 10px;
    border-radius: 6px;
    display: inline-block;
    animation: tilt-shaking 2s ease infinite;
  }

  @keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }