html, body {
    height: 100%;
  }
  .container-full-height {
    display: grid;
    height: 100%;
  }
  .content {
    grid-row: 1;
  }
.profile-img {
    border-radius: 50%; /* This makes the image round */
    width: 240px; /* Adjust the width as needed */
    height: 240px; /* Adjust the height as needed */
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }